name: diagram-as-code
services:
  # plantuml-server
  # https://github.com/plantuml/plantuml-server
  # https://hub.docker.com/r/plantuml/plantuml-server
  plantuml-server:
    platform: linux/amd64
    image: plantuml/plantuml-server:jetty-v1.2025.2
    ports:
      - 48080:8080

  # mermaid
  # https://github.com/mermaid-js/mermaid-live-editor
  # https://github.com/mermaid-js/mermaid-live-editor/pkgs/container/mermaid-live-editor
  mermaid-live-editor:
    platform: linux/amd64
    # no versioning
    image: ghcr.io/mermaid-js/mermaid-live-editor@sha256:39604ae9e5900b929e19239e45e9a5f691d72732be629ae88e797bda6f7502fb
    ports:
      - 48081:8080

  # kroki
  # https://github.com/yuzutech/kroki
  # https://docs.kroki.io/kroki/setup/install/#images
  # https://hub.docker.com/r/yuzutech/kroki
  kroki:
    platform: linux/amd64
    image: yuzutech/kroki:0.29.1
    ports:
      - 48082:8000
