services:
  devcontainer:
    container_name: vsc-diagram-as-code
    build:
      context: ./.devcontainer
    working_dir: /workspace
    tty: true
    volumes:
      - ${LOCAL_WORKSPACE_FOLDER:-.}:/workspace:cached
      - ${LOCAL_WORKSPACE_FOLDER:-.}/.claude-home-cache:/home/vscode/.claude
      - ${LOCAL_WORKSPACE_FOLDER:-.}/.codex-home-cache:/home/vscode/.codex
    extra_hosts:
      - "host.docker.internal:host-gateway"
