services:
  devcontainer:
    container_name: vsc-diagram-as-code
    build:
      context: ./.devcontainer
    tty: true
    working_dir: /workspaces
    volumes:
      - ${LOCAL_WORKSPACE_FOLDER:-.}/..:/workspaces:cached
    extra_hosts:
      - "host.docker.internal:host-gateway"
